.order-form {
  background: linear-gradient(
    to bottom,
    #61c4d9 0%,
    #b2752d 50%,
    #b3e1ed 86%,
    #61c4d9 100%
  );

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__title {
    font-size: 32px;
  }
}
