.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: rgba(47, 50, 52, 0.92);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.overlay__container {
  position: relative;
  width: 460px;
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
  color: #fff;
}

.overlay__title {
  margin-bottom: 20px;
  color: $green;
}

.overlay__text {
  line-height: 24px;
  width: 100%;
  color: $green;
  font-weight: 300;
}

.overlay__close {
  cursor: pointer;
  color: red;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 15px;
  height: 15px;
}
