.slider {
  background: linear-gradient(
    to bottom,
    $blue 0%,
    lighten($blue, 20%) 40%,
    lighten($blue, 20%) 60%,
    $blue 100%
  );

  .arrow {
    color: $gray;
    font-size: 30px;

    &__left {
      margin-right: 16px;
    }

    &__right {
     margin-left: 16px;
    }
  }
}

.slider__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slider__display {
  display: flex;
  width: 940px;
  overflow: hidden;
}

.slider__list {
  position: relative;
  display: flex;
}

.slider__item {
  flex: 1 0 auto;
  width: 100%;
  text-align: center;
}

.slider__title {
  color: darkcyan;
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
