.slider {
  background: linear-gradient(
    to bottom,
    $blue 0%,
    lighten($blue, 20%) 40%,
    lighten($blue, 20%) 60%,
    $blue 100%
  );

  .arrow {
    color: $gray;
    font-size: 30px;

    &__left {
      margin-right: 16px;
    }

    &__right {
      margin-left: 16px;
    }
  }
}

.slider__content {
  display: flex;
  align-items: center;
  height: 100%;
}

.slider__display {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider__list {
  position: relative;
  display: flex;
  width: 100%;
}

.slider__item {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
  flex: 1;
}

.showing {
  opacity: 1;
  z-index: 2;
}

.slider__title {
  text-align: center;
  color: darkcyan;
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
