body,
html {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  line-height: 1.42;
  color: $text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smooting: grayscale;
  background-color: $blue;
  color: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;

  & > li {
    list-style: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.hidden {
  overflow: hidden;
}

.section {
  position: relative;
  height: 100vh;
  min-height: 650px;
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero {
  background-color: $hero-bg-color;
}

.about {
  background-color: $about-bg-color;
}
